.vlog-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items:normal;
    background-color: rgb(160, 232, 245);
    width:100%;
    /* border:2px solid black; */
    
    margin:0;
    
}
